@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-chineseViolet: #746878;
  --color-seaSalt: #f8f8f8;
  --color-lightRed: #ff7477;
  --color-ivory: #f6f7ed;
  --color-eerieBlack: #1e1e1e;
  --color-pistachio: #a4cd85;
  --color-platinum: #d9d9d9;

  --font-albertSans: "Albert Sans", sans-serif;
}

*{
  font-family: var(--font-albertSans);
}

body{
    background: var(--color-seaSalt);
}