@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";
@import "tailwindcss";

@theme{
  --color-chineseViolet: #746878;
  --color-seaSalt: #f8f8f8;
  --color-lightRed: #ff7477;
  --color-ivory: #e8ebd1;
  --color-eerieBlack: #1e1e1e;
  --color-pistachio: #a4cd85;
  --color-platinum: #d9d9d9;

  --font-albertSans: "Albert Sans", sans-serif;
}

*{
  font-family: var(--font-albertSans);
}

body{
    background: var(--color-seaSalt);
}

::-webkit-scrollbar{
  background-color: var(--color-seaSalt);
  width: 15px;
}

::-webkit-scrollbar-track{
  border-radius: 4px;
  background-color: transparent;
  margin-block: 4px;
  padding-right: 4px;
}
::-webkit-scrollbar-thumb{
  background-color:#1e1e1ecc;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-eerieBlack);
}